<!doctype html>

<html lang="en">

<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <title>CD Staff System</title>
    <meta name="description" content="CD Staff System">
    <meta name="author" content="Ana">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

</head>

<body>
    <div class='centre'>
        <h1>Staff Logging System</h1>
        <a class="button1" href="add-website-here">Login</a>
    </div>
</body>

</html>